.row {
    padding-top: 10px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.icon-container:hover {
    background-color: lightgrey;
    transform: scale(1.05);
}

.dark .icon-container:hover {
    background-color: rgb(65, 65, 65);
}

.iconImg {
    width: 60%;
    margin-bottom: 5px;
}

#about-text {
    margin-bottom: 70px;
    color: black;
    font-size: 1.2rem;
    transition: color 0.5s ease;
}

.dark #about-text {
    color: whitesmoke;
}

.skill-title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    font-size: large;
    text-align: left;
}

.skill-text{
    color: black;
    margin-top: 5px;
    margin-bottom: 0px;
    transition: color 0.5s ease;
}

.dark .skill-text{
    color: whitesmoke;
}
