.row {
    padding-top: 10px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.iconImg {
    width: 60%;
    margin-bottom: 10px;
}

#about-text {
    margin-bottom: 70px;
    color: black;
    font-size: 1.2rem;
    transition: color 0.5s ease;
}

.dark #about-text {
    color: whitesmoke;
}

.skill-title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    font-size: large;
}

.skill-text{
    color: black;
    margin-top: 5px;
    transition: color 0.5s ease;
}

.dark .skill-text{
    color: whitesmoke;
}
