#contact {
    margin-bottom: 64px;
}

#mapImg {
    width: 50%;
    margin: 32px 0;
}

.w3-section {
    color: rgb(30, 30, 30);
    transition: color 0.5s ease;
}

.dark .w3-section {
    color: whitesmoke
}

#messageBtn {
    background-color: lightgray;
    transition: background-color 0.5s ease;
    margin-top: 16px;
    padding: 12px 24px;
    border-radius: 5px;
    color: black;
}

#messageBtn:hover {
    background-color: rgb(100, 100, 100) !important;
    color: white !important;
}

.dark #messageBtn {
    background-color: rgb(20, 20, 20);
}