.home-page-footer, .other-page-footer {
    background-color: lightgray;
    transition: background-color 0.5s ease;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
}

.home-page-footer {
    width: 60%; /* As the picture uses the 40% of the screen, footer needs to use only 60% */
    margin-left: auto; /* Also, align it to the right, to see that 60% */
    clip-path: polygon(30% 0, 70% 0, 80% 100%, 20% 100%); /*Trapezoid form for 60%*/
    @media screen and (max-width: 992px) {
          width: 100%; /* When the screen is smaller and the left picture dissappear the footer returns to 100% */
          clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%); /*Normal footer for mobile.*/
      }
}

.other-page-footer {
    width: 100%; /* Width for other pages */
    clip-path: polygon(35% 0, 65% 0, 75% 100%, 25% 100%); /*Trapezoid form for 100%*/
  }

.footer-icons a {
    margin: 0 10px; /* Add left and right margin to create spacing between "a" elements */
    text-decoration: none;
}

.footer-icons a:hover {
    opacity: 0.5;
}

.dark .home-page-footer, .dark .other-page-footer {
    background-color: rgb(28, 28, 28);
}

.footer-logo {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.logo-img {
    width: 70px;
}

.logo-img:hover {
    opacity: 0.5;
}

.logo-text {
    display: flex;
    align-items: center;
    font-size: medium;
    margin-left: 20px;
    margin-bottom: 0px;
}