.home-page-footer, .other-page-footer {
    background-color: lightgray;
    transition: background-color 0.5s ease;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
}

.home-page-footer {
    width: 60%; /* As the picture uses the 40% of the screen, footer needs to use only 60% */
    margin-left: auto; /* Also, align it to the right, to see that 60% */
    @media screen and (max-width: 992px) {
          width: 100%; /* When the screen is smaller and the left picture dissappear the footer returns to 100% */
      }
}

.other-page-footer {
    width: 100%; /* Width for other pages */
  }

.footer-icons a {
    margin: 0 10px; /* Add left and right margin to create spacing between "a" elements */
    text-decoration: none;
}

footer a:hover {
    opacity: 0.7;
}

.dark .home-page-footer, .dark .other-page-footer {
    background-color: black;
}