.home-page-footer, .other-page-footer {
    background-color: #b1bfc5;
    transition: background-color 0.5s ease;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;
    border-radius: 15px 15px 0 0;
}

.home-page-footer {
    width: 70%; /* As the picture uses the 40% of the screen, footer needs to use only 60% */
    margin-left: auto; /* Also, align it to the right, to see that 60% */
    @media screen and (max-width: 992px) {
          width: 100%; /* When the screen is smaller and the left picture dissappear the footer returns to 100% */
      }
}

.other-page-footer {
    width: 100%; /* Width for other pages */
}

.dark .home-page-footer, .dark .other-page-footer {
    background-color: #192429;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.logo-img {
    width: 70px;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.logo-img:hover {
    transform: scale(1.1);
    opacity: 0.5;
}

.dark .logo-img:hover {
    transform: scale(1.1);
    opacity: 0.5;
}

.logo-text {
    display: flex;
    align-items: center;
    font-size: medium;
    margin-left: 20px;
    margin-bottom: 0px;
}