#home {
    padding: 128px 16px;
}

#imgHome1 {
    display: block;
    width: 60%;
    margin: auto;
}

#resumeBtn {
    background-color: rgb(235, 235, 235);
    margin-top: 16px;
    padding: 12px 24px;
}

h1.w3-jumbo {
    font-weight: bold;
}