#header {
    padding: 128px 16px;
    margin-top: 50px;
    margin-bottom: 30px;
    @media screen and (max-width: 992px) {
        padding: 48px 16px;
        margin-top: 25px;
        margin-bottom: 15px;
    }
}

#header-img {
    display: block;
    width: 60%;
    margin: auto;
}

#home-img-medium {
    padding: 0 15vw;
    margin-bottom: 25px;
}

h1.w3-jumbo {
    font-weight: bold;
}

.under-text {
    margin-bottom: 30px;
}

.header-icon {
    font-size: 4vw;
    color: #04223b;
    padding: 15px;
    transition: color 0.5s ease, text-shadow 0.5s ease;
    @media screen and (max-width: 992px) {
        font-size: 8vw;
    }
}

.dark .header-icon {
    color: #1FA8CA;
}

.header-icon:hover,
.header-icon:focus {
    color: rgb(18, 18, 18);
    text-shadow: 0 0 10px #00FFFF, 0 0 15px #00FFFF, 0 0 20px #00FFFF, 0 0 25px #11b1cd, 0 0 30px #11b1cd;
}

.dark .header-icon:hover,
.dark .header-icon:focus {
    color: rgb(18, 18, 18);
    text-shadow: 0 0 10px #00FFFF, 0 0 15px #00FFFF, 0 0 20px #00FFFF, 0 0 25px #11b1cd, 0 0 30px #11b1cd;
}