/* Defines animation "animate-right" */
@keyframes animate-right {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}

#hiddenSidebar {
    padding-top: 150px;
    right: 0;
    z-index: 2;
    background-color: black;
    animation: animate-right 0.5s;
    font-size: 2rem;
}

/* For screens larger than 768px, use 60% width */
@media screen and (min-width: 769px) {
    #hiddenSidebar {
        width: 60%;
    }
}

/* For screens 768px and smaller, use 100% width */
@media screen and (max-width: 768px) {
    #hiddenSidebar {
        width: 100%;
    }
}

#closeButton{
    right: 0;
    top: 0;
    margin-top: 12px;
    margin-right: 24px;
    width: 58.83px;
    height: 51.83px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: whitesmoke;
    background-color: black;
    transition: color 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
}

#closeButton:hover {
    background-color: rgb(65, 65, 65) !important;
    box-shadow: 0 0 10px lightgray;
    color: whitesmoke !important;
}

#closeButton:focus{
    background-color: rgb(20, 20, 20) !important;
    box-shadow: 0 0 10px whitesmoke;
    outline: none;
}

.w3-bar-block {
    color: grey;
}