.dropdown-toggle {
    background: none;
    border: none;
    color: black;
    transition: color 0.5s ease, background-color 0.5s ease, box-shadow 0.5s;
}

.dark .dropdown-toggle {
    color: whitesmoke;
}

.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:focus {
    color: whitesmoke;
    background-color: rgb(65, 65, 65) !important;
    box-shadow: 0 0 5px #ffd500, 0 0 10px #ffd500, 0 0 15px #ff9100, 0 0 20px #ff9100;
    outline: none;
}

.dark .dropdown-toggle:hover,
.dark .dropdown-toggle:active,
.dark .dropdown-toggle:focus {
    background-color: rgb(18, 18, 18) !important;
    box-shadow: 0 0 5px #00FFFF, 0 0 10px #00FFFF, 0 0 15px #11b1cd, 0 0 20px #11b1cd;
}

.dropdown-menu {
    background-color: #d9c48b;
    border: 2px solid #bfad6e;
}

.dark .dropdown-menu {
    background-color: #0f2027;
    border: 2px solid #4d6974;
}

.dropdown-item {
    color: black;
    display: flex;
    align-items: center;
}

.dark .dropdown-item {
    color: whitesmoke;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: black;
    font-weight: bold;
    background-color: #bfad6e;
}

.dark .dropdown-item:hover,
.dark .dropdown-item:focus {
    color: whitesmoke;
    font-weight: bold;
    background-color: #4d6974;
}