/* INCLUDES CONTAINER FOR THEME & LANGUAJE COLOR */
.toggle-container {
    display: inline-flex; /* Use inline-flex to adjust to the content's width */
    gap: 10px; /* Adjust the gap (spacing) between the two components as needed */
    align-items: center;
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.dark .toggle-container {
    background-color: rgb(45, 45, 45);
}

.dropdown-toggle {
    background: none;
    border: none;
    color: black;
    transition: color 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
}

.dark .dropdown-toggle {
    color: whitesmoke;
}

.dropdown-toggle:hover,
.dropdown-toggle:active {
    background-color: rgb(65, 65, 65) !important;
    box-shadow: 0 0 10px black;
}

.dark .dropdown-toggle:hover {
    box-shadow: 0 0 10px lightgray;
}

.dropdown-toggle:focus {
    color: whitesmoke !important;
    background-color: rgb(45, 45, 45) !important;
    box-shadow: 0 0 10px black;
}

.dark .dropdown-toggle:focus {
    box-shadow: 0 0 10px whitesmoke;
}

.dropdown-menu {
    background-color: rgb(45, 45, 45);;
}

.dropdown-item {
    color: whitesmoke;
    display: flex;
    align-items: center;
}

.dropdown-item:hover {
    background-color: darkgray;
}