/* CARDS STYLE */
.card {
    background: rgb(45, 45, 45);
    border: 2px solid #ff9100;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 1.5rem;
    transition: transform 0.3s;
}

.dark .card {
    border: 2px solid #11b1cd;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-title {
    font-size: large;
}

.card-text {
    height: 160px;
    /* Default height for large screens*/

    /* Media queries for different screen sizes, px variate a lot because of rows */
    @media screen and (max-width: 1450px) {
        height: 200px;
    }

    @media screen and (max-width: 1200px) {
        height: 140px;
    }

    @media screen and (max-width: 768px) {
        height: 100px;
    }

    @media screen and (max-width: 576px) {
        height: 130px;
    }
}

.more-portfolio {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.card-icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
}