.portfolio {
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

/* CARDS STYLE */
.card {
    background: rgb(45, 45, 45);
    border: 2px solid #2c5364;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 1.5rem;
    transition: transform 0.3s;
}

.dark .card {
    border: 2px solid #1fa8ca;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-title {
    font-size: large;
}

.card-text {
    /* Default height for large screens*/
    height: 130px;

    /* Media queries for different screen sizes, px variate a lot because of rows */
    @media screen and (max-width: 1450px) {
        height: 160px;
    }

    @media screen and (max-width: 1200px) {
        height: 120px;
    }

    @media screen and (max-width: 768px) {
        height: 80px;
    }

    @media screen and (max-width: 576px) {
        height: 130px;
    }
}

.more-portfolio {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.card-icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
}