.project-title{
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
}

.project-subtitle{
    font-weight: bold;
    margin-top: 20px;
}

.project-text{
    font-size: large;
    color: #04223b;
}

.dark .project-text{
    color: whitesmoke;
}


.project-img {
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.skills-used{
    margin-bottom: 40px;
}

.bold-text{
    font-weight: bold;
}

.project-list i {
    margin-right: 5px;
    margin-left: 5px;
}

.project-list a:hover {
    opacity: 0.5;
}