/*------ THEME DARK-LIGHT ------*/
.theme-toggle {
    color: black;
    display: flex; /* Display its contents horizontally */
    align-items: center; /* Vertically center the contents within the navbar */
    cursor: pointer; /* Change cursor to pointer on hover for better usability */
    margin: 0 5px; /* Add margin to create spacing */
}

.theme-toggle i {
    transition: opacity 0.5s ease; /* Use opacity for a smooth fade transition */
}

.theme-toggle input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: black;
    appearance: none; /*para quitarle la propiedad de caja*/
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
    margin-left: 5px;
    margin-right: 5px;
}

.theme-toggle input[type="checkbox"]:checked {
    background-color: #B53457;
}

.theme-toggle input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: whitesmoke;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 1s ease;
}

.theme-toggle input[type="checkbox"]:checked::before {
    transform: translateX(20px);
    transition: transform 1s ease;
}

.theme-icon {
    margin-right: 0.5rem;;
    color: black;
    transition: color 0.5s ease;
}

.dark .theme-icon {
    color: whitesmoke;
}