/*GENERAL STYLE*/
body {
    font-family: Georgia, serif;
    /* font-family: 'Open-Dyslexic', sans-serif;*/
    color: black;
    background-color: whitesmoke;
    transition: color 0.5s ease, background-color 0.5s ease;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    color: black;
    transition: color 0.5s ease;
}

hr {
    border-top: 5px double black;
    margin-bottom: 30px;
    transition: border-top 0.5s ease;
}

/* Dark theme styles */
body.dark {
    color: whitesmoke;
    background-color: rgb(30, 30, 30);
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
    color: whitesmoke;
}

.dark hr {
    border-top: 5px double whitesmoke;
}

/* Home Page CSS */
#home{
    margin-left: 40%;
}